USE [master]
GO
/****** Object:  Database [Prueba1]    Script Date: 26/2/2023 01:13:17 p. m. ******/
CREATE DATABASE [Prueba1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prueba1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prueba1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prueba1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba1]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 26/2/2023 01:13:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](128) NOT NULL,
	[Precio] [money] NOT NULL,
 CONSTRAINT [PK_Articulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulo] ON 

INSERT [dbo].[Articulo] ([Id], [Nombre], [Precio]) VALUES (1, N'Desatornillador', 1500.0000)
INSERT [dbo].[Articulo] ([Id], [Nombre], [Precio]) VALUES (2, N'Martillo', 3000.0000)
INSERT [dbo].[Articulo] ([Id], [Nombre], [Precio]) VALUES (3, N'Taladro', 15000.0000)
SET IDENTITY_INSERT [dbo].[Articulo] OFF
GO
USE [master]
GO
